.product-page {
    margin-top: var(--header-height);

    .row {
        padding: 5rem 0;
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    .col {
        position: relative;
        width: 50%;

        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }
}