.category-section-styles {
    margin-top: var(--header-height);
    background-color: var(--secondary-color);
    padding: 5rem 0;

    h1 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5rem;
    }
}