.span-styles {
    width: 60px;
    height: 6px;
    background-color: var(--primary-color);
    display: block;
    border-radius: 3px;

}

.heading-styles {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
}